* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    
}

/* Painel esquerdo */
.left-panel {
    flex: 1;
    background-color: #002244;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: bold;
}

.container {
    display: flex;
    width: 800px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 40%;
    background-color: #091A3F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.form-container {
    width: 60%;
    padding: 2em;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.tabs a{
    text-decoration: none;
    color: #888;
    font-weight: normal;

}

.tab {
    background: none;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    color: #333;
}

.tab.active {
    border-bottom: 2px solid #091A3F;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5em 0 0.2em;
    font-size: 0.9em;
    color: #555;
}

input[type="text"],
input[type="password"],
select {
    padding: 0.8em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.date {
    display: flex;
    gap: 0.5em;
}

.date select {
    flex: 1;
}

.gender {
    display: flex;
    gap: 1em;
    margin: 0.5em 0 1em;
}

.submit-btn {
    padding: 0.8em;
    background-color: #091A3F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.submit-btn:hover {
    background-color: #091A3F;
}
